#the-title {
    text-align: center
}

footer {
	visibility: hidden;
}


/* Main Page padding cancellation */
.block-container.st-emotion-cache-z5fcl4.ea3mdgi4{
    padding: 50px 50px 0px !important;
}

.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4{
    padding: 30px 50px 0px 50px;

}

